body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: end;
}
ul{
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    margin: 0;
    padding: 0;
    
}
li{
    display: inline;
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: steelblue;
  }
  img{
      height: 500px;
      width: 500px;
      float: right;
  }